.form__header {
    text-align: center;
    color:hsl(84, 90%, 42%);
}

.form__button {
    width: 100%;
    border: none; 
    background-color: hsl(84, 90%, 42%);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.form__button:hover {
    background-color: hsl(84, 90%, 47%);

}

.form__button:active {
    background-color: hsl(84, 90%, 52%);

}

.form__info {
    text-align: center;
    font-size: small;
    color: gray;
}

.form__field {
    border: 3px solid hsl(84, 90%, 42%);
    border-radius: 7px;
    padding: 5px;
    
}

.form__label {
    width: 150px;
    display: inline-block;
    margin-right: 5px;
    
}

